<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="healthInsurances">
        <ng-container *ngIf="healthInsurances.id">Editar</ng-container>
        <ng-container *ngIf="!healthInsurances.id">Crear</ng-container>
        Obra Social
        <ng-container *ngIf="healthInsurances.id"
          >'{{ healthInsurances.name}}'</ng-container
        >
      </ng-container>
    </div>
  </div>
  <div
    class="overlay overlay-block cursor-default modal-body"
    style="min-height: 404px"
  >
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="healthInsurances">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-4">
            <app-input-form [formGroup]="formGroup" [placeholder]="'Nombre'" [name]="'name'" [minlength]="true" [maxLength]="true" [validationMinlength]="3" [validationMaxLength]="50"></app-input-form>
          </div>
          <div class="col-lg-4">
            <app-input-form [formGroup]="formGroup" [placeholder]="'Email'" [name]="'email'" [type]="'email'" [email]="true"></app-input-form>
          </div>
          <div class="col-lg-4">
            <app-input-form [formGroup]="formGroup" [placeholder]="'Teléfono'" [name]="'telephone'" [minlength]="true" [maxLength]="true" [validationMinlength]="3" [validationMaxLength]="15"></app-input-form>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light btn-elevate mr-2"
      (click)="modal.dismiss()"
    >
      Cancelar
    </button>
    <ng-container *ngIf="healthInsurances">
      <button
        type="submit"
        class="btn btn-primary btn-elevate"
        (click)="save()"
        [disabled]="formGroup.invalid"
      >
        Guardar
      </button>
    </ng-container>
  </div>
</div>
