<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Reestablecer Contraseña</h3>
    </div>
  </div>
  <div class="card-body">

    <form action="#" class="form form-label-right" [formGroup]="formGroup">
      <div class="form-group row">

          <app-input-form [type]="'password'" [formGroup]="formGroup" [placeholder]="'Nueva Contraseña'" [name]="'password'" [minlength]="true" [maxLength]="true" [validationMinlength]="3" [validationMaxLength]="100"></app-input-form>

      </div>
    </form>

  </div>
  <div class="card-footer">
    <button
      type="button"
      class="btn btn-light btn-elevate mr-2"
    >
    <a href="/auth/login">Cancelar</a>
    </button>
    <ng-container>
      <button
        type="submit"
        class="btn btn-primary btn-elevate"
        (click)="save()"
        [disabled]="formGroup.invalid"
      >
        Enviar
      </button>
    </ng-container>
  </div>
</div>