<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Estudios Cancelados</h3>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <form class="col-lg-6" [formGroup]="searchGroup">
          <input type="text" *ngIf="!isSearchingByState"  class="form-control" name="searchText" placeholder="Buscar" value=""
            formControlName="searchTerm" /><small *ngIf="!isSearchingByState" class="form-text text-muted"><b>Buscar</b> en todos los campos</small>
        </form>
        <br>
      </div>
      <div class="row">
        <div class="col-lg-6" >
          <select (change)="filterStatus()" *ngIf="(isSearchingByState || filterState === 'Seleccione un estado') && searchData ===''" [disabled]="searchData !==''" [(ngModel)]="filterState" class="form-control form-control-lg"  name="filterState"> 
            <option value="Seleccione un estado" selected>Seleccione un estado</option>
            <option value="{{studyState.STATE_ONE}}">{{studyState.STATE_ONE}}</option>
            <option value="{{studyState.STATE_TWO}}">{{studyState.STATE_TWO}}</option>
            <option value="{{studyState.STATE_THREE}}">{{studyState.STATE_THREE}}</option>
            <option value="{{studyState.STATE_FOUR}}">{{studyState.STATE_FOUR}}</option>
            <option value="{{studyState.STATE_FIVE}}">{{studyState.STATE_FIVE}}</option>
            <option value="{{studyState.STATE_SIX}}">{{studyState.STATE_SIX}}</option>
            <option value="{{studyState.STATE_SEVEN}}">{{studyState.STATE_SEVEN}}</option>
            <option value="{{studyState.STATE_EIGHT}}">{{studyState.STATE_EIGHT}}</option>
            <option value="{{studyState.STATE_NINE}}">{{studyState.STATE_NINE}}</option>
            <option value="{{studyState.STATE_ENDED}}">{{studyState.STATE_ENDED}}</option>
        </select>
        <small *ngIf="(isSearchingByState || filterState === 'Seleccione un estado') && searchData ===''" class="form-text text-muted"><b>Filtrar</b> por estado</small>  
      </div>        
    </div>

    </div>
    <!-- end: Filtration form -->
    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>
            Tipo de estudio
            <app-sort-icon column="type_study" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Estado actual
            <app-sort-icon column="current_state" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Paciente
            <app-sort-icon column="patient" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Médico derivante
            <app-sort-icon column="referring_physician" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
              Diagnóstico presuntivo
              <app-sort-icon column="presumptive_diagnosis" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
              Presupuesto
              <app-sort-icon column="budget" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let study of studyCanceledListService.items$ | async">
              <td>{{ study.type_study.name }}</td>
              <td>{{ study.current_state}}</td>
              <td>{{ study.patient.first_name }} {{ study.patient.last_name }} </td>
              <td>{{ study.referring_physician.first_name }} {{ study.referring_physician.last_name }} </td>
              <td>{{ study.presumptive_diagnosis.name }}</td>
              <td>{{ study.budget }}</td>
              <td style="display: flex;">
                <a title="Detalle" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                  (click)="detail(study)">
                  <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-md svg-icon-primary">
                  </span>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
  </div>
</div>