
<ng-container *ngIf="isEmployee()">
  <div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Estadísticas</h3>
      </div>
      <div class="card-toolbar"></div>
    </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12">
    <type-chart></type-chart>
  </div>
  <div class="col-lg-6 col-sm-12 col-md-12">
    <month-chart></month-chart>
  </div>
  </div>
  </div>
</ng-container>

<ng-container *ngIf="!isEmployee()">
  <div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Bienvenido {{user.first_name + " "+ user.last_name}}</h3>
      </div>
      <div class="card-toolbar"></div>
    </div>
  
  </div>
</ng-container>
<ng-container *ngIf="isConfigurator()">
  <div class="card card-custom gutter-b">
    <div class="card-body">
      <h4 class="card-label" style="padding-bottom: 3em;">Configuración del sistema</h4>
      <mat-slide-toggle [(ngModel)]="isChecked">Modo Obligado</mat-slide-toggle>
      <div class="row" style="padding-top: 5em;">
        <button
          type="submit"
          class="btn btn-primary btn-elevate"
          (click)="save()"
        >
          Guardar
        </button>
      </div>
    </div>

    <div *ngIf="showAlert" class="alert alert-success" role="alert">
      Modo guardado exitosamente!
    </div>
  
  </div>
</ng-container>


