<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Estudios</h3>
    </div>
    <div class="card-toolbar" *ngIf="userRol === 'EMPLOYEE'">
      <button type="button" class="btn btn-primary" (click)="create()">Crear estudio</button>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <form class="col-lg-6" [formGroup]="searchGroup">
          <input type="text" *ngIf="!isSearchingByState"  class="form-control" name="searchText" placeholder="Buscar" value=""
            formControlName="searchTerm" /><small *ngIf="!isSearchingByState" class="form-text text-muted"><b>Buscar</b> en todos los campos</small>
        </form>
        <br>
        <div *ngIf="userRol !== 'REPORTING_PHYSICIAN'" class="col-lg-6" >
          
          <select (change)="filterStatus()" *ngIf="userRol !== 'PATIENT' && (isSearchingByState || filterState === 'Seleccione un estado') && searchData ===''" [disabled]="searchData !==''" [(ngModel)]="filterState" class="form-control form-control-lg"  name="filterState"> 
            <option value="Seleccione un estado" selected>Seleccione un estado</option>
            <option value="{{studyState.STATE_ONE}}">{{studyState.STATE_ONE}}</option>
            <option value="{{studyState.STATE_TWO}}">{{studyState.STATE_TWO}}</option>
            <option value="{{studyState.STATE_THREE}}">{{studyState.STATE_THREE}}</option>
            <option value="{{studyState.STATE_FOUR}}">{{studyState.STATE_FOUR}}</option>
            <option value="{{studyState.STATE_FIVE}}">{{studyState.STATE_FIVE}}</option>
            <option value="{{studyState.STATE_SIX}}">{{studyState.STATE_SIX}}</option>
            <option value="{{studyState.STATE_SEVEN}}">{{studyState.STATE_SEVEN}}</option>
            <option value="{{studyState.STATE_EIGHT}}">{{studyState.STATE_EIGHT}}</option>
            <option value="{{studyState.STATE_NINE}}">{{studyState.STATE_NINE}}</option>
            <option value="{{studyState.STATE_ENDED}}">{{studyState.STATE_ENDED}}</option>
          </select>

          <select (change)="filterStatus()" *ngIf="userRol === 'PATIENT' && (isSearchingByState || filterState === 'Seleccione un estado') && searchData ===''" [disabled]="searchData !==''" [(ngModel)]="filterState" class="form-control form-control-lg"  name="filterState"> 
            <option value="Seleccione un estado" selected>Seleccione un estado</option>
            <option value="{{studyState.STATE_ONE}}">{{studyStatePatient.STATE_ONE}}</option>
            <option value="{{studyState.STATE_TWO}}">{{studyStatePatient.STATE_TWO}}</option>
            <option value="{{studyState.STATE_THREE}}">{{studyStatePatient.STATE_THREE}}</option>
            <option value="{{studyState.STATE_FOUR}}">{{studyStatePatient.STATE_FOUR}}</option>
            <option value="{{studyState.STATE_FIVE}}">{{studyStatePatient.STATE_FIVE}}</option>
            <option value="{{studyState.STATE_SIX}}">{{studyStatePatient.STATE_SIX}}</option>
            <option value="{{studyState.STATE_ENDED}}">{{studyState.STATE_ENDED}}</option>
          </select>

          <small *ngIf="(isSearchingByState || filterState === 'Seleccione un estado') && searchData ===''" class="form-text text-muted"><b>Filtrar</b> por estado</small>  
      </div>        
    </div>

    </div>
    <!-- end: Filtration form -->
    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>           </th>
          <th>
            Estudio
            <app-sort-icon column="type_study" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Estado
            <app-sort-icon column="current_state" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th *ngIf="userRol==='EMPLOYEE'">
            Paciente
            <app-sort-icon column="patient" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Médico
            <app-sort-icon column="referring_physician" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
              Diagnóstico
              <app-sort-icon column="presumptive_diagnosis" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
              Presupuesto
              <app-sort-icon column="budget" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>Acciones                </th>
        </thead>
        <tbody>
            <tr *ngFor="let study of studyListService.items$ | async">
               <td  style="display: flex;">
                  <a *ngIf="userRol !=='REPORTING_PHYSICIAN'" title="Detalle" class="btn btn-icon btn-light  btn-sm mx-3"
                    (click)="detail(study)">
                    <span [inlineSVG]="'./assets/plugins/keenthemes-icons/svg/056-bold-sort.svg'" cacheSVG="true"
                      class="svg-icon svg-icon-md ">
                    </span>
                  </a>
                  <a *ngIf="userRol==='EMPLOYEE'" title="Editar" class="btn btn-icon btn-light  btn-sm mx-3"
                    (click)="edit(study.id)">
                    <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                      class="svg-icon svg-icon-md">
                    </span>
                  </a>
              </td>
              <td>{{ study.type_study.name }}</td>
              <td>{{ userRol==='EMPLOYEE' ? study.current_state: study.current_state_patient_view}}</td>
              <td *ngIf="userRol==='EMPLOYEE'">{{ study.patient.first_name }} {{ study.patient.last_name }} </td>
              <td>{{ study.referring_physician.first_name }} {{ study.referring_physician.last_name }} </td>
              <td>{{ study.presumptive_diagnosis.name }}</td>
              <td>{{ study.budget }}</td>
              <td>
                <a *ngIf="(study.current_state === studyState.STATE_ONE && userRol==='PATIENT' && obligatedMode) || (study.current_state === studyState.STATE_ONE && userRol==='EMPLOYEE' && !obligatedMode)  " title="Subir comprobante de pago"
                (click)="uploadPaymentReceipt(study.id)">
                <span class="badge bg-dark mt-1" style="color: blanchedalmond;  cursor: pointer; " title="Subir comprobante de pago">
                    Subir comprobante de pago
                  </span>
                </a>
               <a *ngIf="(study.current_state === studyState.STATE_TWO && userRol==='PATIENT' && obligatedMode) || (study.current_state === studyState.STATE_TWO && userRol==='EMPLOYEE' && !obligatedMode)" title="Subir consentimiento firmado"
                (click)="uploadConsent(study.id)">
                <span class="badge bg-dark mt-1" style="color: blanchedalmond;  cursor: pointer; " title="Subir consentimiento firmado">
                  Subir consentimiento firmado
                </span>
              </a>
              <a *ngIf="(study.current_state === studyState.STATE_TWO && userRol==='EMPLOYEE')" title="Volver a estado anterior"
              (click)="rejectPaymentReceipt(study.id)">
              <span class="badge mt-1" style="background-color: rgb(134, 5, 5);  cursor: pointer; color: rgb(238, 238, 238); " title="Volver a estado anterior">
                Volver a estado anterior
              </span>
            </a>
              <a *ngIf="(study.current_state === studyState.STATE_THREE && userRol==='PATIENT' && obligatedMode) || (study.current_state === studyState.STATE_THREE && userRol==='EMPLOYEE' && !obligatedMode)" title="Esperando selección de turno"
                (click)="showShiftReservation(study.id)">
                <span class="badge bg-dark" style="color: blanchedalmond;  cursor: pointer; " title="Esperando selección de turno">
                  Esperando selección de turno
                </span>
              </a>

              <a *ngIf="study.current_state === studyState.STATE_FOUR && userRol==='EMPLOYEE'" title="Esperando toma de muestra" 
              (click)="registerSample(study.id)">
              <span class="badge bg-dark" style="color: blanchedalmond;  cursor: pointer; " title="Esperando toma de muestra">
                Esperando toma de muestra
              </span>
              </a>

              <a *ngIf="study.current_state === studyState.STATE_FIVE && userRol==='EMPLOYEE'" title="Esperando retiro muestra" 
                 (click)="registerSamplePickup(study.id)">
                 <span class="badge bg-dark" style="color: blanchedalmond;  cursor: pointer; " title="Esperando retiro muestra">
                  Esperando retiro muestra
                </span>
              </a>

              <a *ngIf="study.current_state === studyState.STATE_EIGHT && userRol==='REPORTING_PHYSICIAN' "  title="Esperando interpretación de resultados e informes"
                 (click)="registerReport(study.id)">
                 <span class="badge bg-dark" style="color: blanchedalmond;  cursor: pointer; " title="Esperando interpretación de resultados e informes">
                  Esperando interpretación de resultados e informes
                </span>
              </a>
              
              <a *ngIf="study.current_state === studyState.STATE_NINE && userRol==='EMPLOYEE'" title="Envíar reporte"
              (click)="confirmSendReport(study.id)">
               <span class="badge bg-dark" style="color: blanchedalmond;  cursor: pointer;"  title="Envíar reporte">
                Envíar reporte
              </span>

              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
  </div>
</div>